// highlights on landing page
#dlf_highlight {

  article {
    border: 1px solid #eee;
    border-color: rgba(0,0,0, 0.05);
    margin: 0 0 20px 0;

    header {
      // float: left;
      h4 {
        font-family: 'Lato';
        line-height: 30px;
        font-weight: 400;
        font-style: normal;
        font-size: 24px;
        color: #444;
        margin-top: 10px;
        margin-bottom: 10px;
      }
    }
  }

  a {
    color: #444;
  }

  a:focus {
    outline: thin dotted
  }

  a:active, a:hover {
    outline: 0
  }

  .postcontent {
    float: left;
    margin-left: -5px;
  }

  .home_blog_title {
    margin-top: 20px;
  }

  img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border: 0;
    margin-left: -5px;
    -ms-interpolation-mode: bicubic;
  }

  .clearclass0 {
    clear: left
  }

  .bg-lightgray {
    background: #f2f2f2;
    background: rgba(0, 0, 0, 0.05);
    margin: 0 0 20px 0;
  }

  .color_gray {
    color: #777;
  }

  .subhead {
    a {
      color: #777;
      font-size: 11px;
    }
  }

  .entry-content {

    box-sizing: border-box;
    color: #444;
    font-family: "Helvetica Neue", Helvetica, sans-serif;

    margin-right: 15px;
    margin-bottom: 15px;
    a {
      color: #2d5c88;
    }
    p {
      margin: 0 0 10px;
    }
  }

  .headerfont {
    font-family: 'Lato';
  }

  .home_blog_title {
    margin-top: 20px;
  }

  .postmeta {
    float: right
  }

  .postdate {
    float: right;
    padding: 6px 8px 8px;
    margin-top: 15px;
    margin-right: -10px;
    font-size: 10px;
    text-align: center;
    text-transform: uppercase;
    line-height: normal
  }

  .postdate span {
    display: block;
    font-size: 24px
  }

  .rowtight {
    margin-left: -10px;
    margin-right: -10px
  }

  .rowtight:after, .rowtight:before {
    content: " ";
    display: table
  }

  .rowtight:after {
    clear: both
  }



}
