// highlights on landing page
.dlf-highlight{

    a.title {
        font-size: 24px;
        display: block;
    }

    .date {
        color: #676767;
    }

    .category-display {

    }

    .excerpt-dash {
        color: red;
    }

    .excerpt {

    }
}
