@import 'vars'; //social media colors

footer {
  margin: 0;
    .clir-social {
        i {
            &.fa-twitter {
                color: $twitter-blue;
            }

            &.fa-facebook {
                color: $facebook-blue;
            }

            &.fa-youtube {
                color: $youtube-red;
            }

            &.fa-linkedin {
                color: $linkedin-blue;
            }

            &.fa-rss {
                color: $rss-orange;
            }

            &.fa-envelope {
                color: $envelope-red;
            }
        }
    }

    .widget-box {
        font-size: 14px;
    }

    $footer-color: #252525;

    .footer-widget-area {
        padding: 60px 0 0 0;

        // background-color: #2c818c !important;
        background-color: $footer-color !important;
        color: #fff;
        .widget-title {
            font-weight: bold;
            // color: #333;
            color: #fff;
        }
    }

    .footer-info-area {
        // background-color: #2c818c !important;
        background-color: lighten($footer-color, 20%) !important;
        color: #fff;
        padding-top: 0;

        a {
          &:hover {
            color: #fff;
          }
        }

        .site-info {
            // border-top: 1px solid rgba(151, 160, 175, 0.2);
            margin-top: 30px;
            padding-top: 20px;
        }

        .pull-right {
            // TODO: check on mobile breakpoints
            margin-top: 12px;
        }

        .logo {
            i {
                margin-right: 5px;
            }

            a:hover {
                color: #fff;
                text-decoration: none;
            }
        }
    }

    .footer-widget-area {
        font-size: 14px;
        background-color: $footer-background-color;
    }

    a {
        color: #97a0af;
    }
}
