// Styles for program sub-menu navigation

#program_menu {
  font-size: 1.15em;
  margin-top: 6px;

  ul {
    display: block;
    float: left;
    width: 100%;
    margin-top: 20px;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;

    li {
      line-height: 40px;
      text-indent: 20px;

      a {
        color: #999;
        display: block;
        float: left;
        text-decoration: none;
        width: 100%;
        background: #373737;
        border-bottom: 1px solid #1a1a1a;
        transition: background 0.5s;

        &:hover {
          color: #999;
          background: rgba(255,255,255,0.2);
          text-decoration: none;
          border-left: 5px solid #272727;
        }
      }
    }
  }
}
