@import 'vars';

.bigger {
    font-size: 24px;
}

header a:hover {
    text-decoration: none;
}

header .container {
    position: static;
}

.top-bar {
    height: $top-bar-height;
    font-family: 'Open Sans Pro', 'Open Sans', sans-serif;

    a:hover {
        i {
            text-decoration: none;
            display: inline-block;
        }
    }

    ul {
        li {
            height: $top-bar-height;
            padding-top: 6px;



            &.menu-item-object-custom {
                &:not(:first-child) {
                    padding-left: 10px;
                    margin-left: 10px;
                }

                &:last-child {
                    border-right: 1px solid rgba(255,255,255,.5);
                }
            }
        }

        .clir-programs-menu {
            // border-radius: 0; // does this help?
            a {
                color: #333;
            }
        }
    }

    .clir-custom-menu .menu-item:first-child a:hover {
        text-decoration: none;
    }
}

.top-bar ul li.menu-item-object-custom:first-child {
    padding: 6px 20px 6px 0;
}

.top-bar ul li.menu-item-object-custom:not(:first-child) {
    margin: 0;
    padding: 6px 20px;
}

@media (min-width:920px) {

    // .site-nav li {
    //     position: static;
    // }
    //
    // .site-nav li:hover ul.sub-menu-1 {
    //     right: 0;
    //     width: 100%;
    //     max-height: 300px;
    //     display: flex;
    //     flex-flow: column wrap;
    //     margin-top: -1px;
    //     padding: 20px;
    // }
    //
    // .site-nav > ul > li {
    //     position: static;
    //     display: flex;
    //     align-items: center;
    // }
    //
    .site-nav > ul > li .sub-menu a {
        border: 0;
        line-height: 1.42857143;
        padding: 7.5px;
    }
    //
    // .site-nav li ul.sub-menu-2 {
    //     display: block;
    //     position: static;
    //     padding: 0 0 0 20px;
    //     margin-top: -7.5px;
    //     width: 100%;
    // }
    //
    // .site-nav li ul.sub-menu-2 a {
    //     padding: 0;
    // }
    //
    // .fa.menu-dropdown-icon {
    //     width: 20px;
    //     text-align: right;
    //     top: 50%;
    //     transform: translateY(-50%);
    // }

    .fa.menu-dropdown-icon {
        display: none;
    }

    // .sub-menu .fa.menu-dropdown-icon {
    //     display: none;
    // }
    //
    .main-nav > li > .fa.menu-dropdown-icon {
        position: static;
        padding: 0;
        text-align: right;
        order: 2;
        line-height: .5;
    }
    //
    // .top-bar-right ul {
    //     margin-bottom: 0;
    // }
}
