@import 'https://fonts.googleapis.com/css?family=Source+Sans+Pro';

$clir-burgundy: #991B45;
$dlf-blue:      #046BA5;
$ndsa-blue:     #0165AE;
$hc-blue:       darken($dlf-blue, 15%);

$slider_height: 500px;

// top-bar
$top-bar-height: 40px;
