@import 'https://fonts.googleapis.com/css?family=Source+Sans+Pro';

$clir-burgundy: #991B45;
$clir-burgundy: #560319;
$dlf-blue:      #046BA5;
$ndsa-blue:     #0165AE;
$hc-blue:       darken($dlf-blue, 15%);

$footer-background-color: #eef2f5;

// social media colors
$twitter-blue:  #4099FF;
$facebook-blue: #3B5998;
$linkedin-blue: #0177B5;
$rss-orange:    #F17330;
$envelope-red:  #D83232;
$youtube-red:   #E62117;

$slider_height: 500px;

// top-bar
$top-bar-height: 40px;
