//Theme customizations
@import 'vars';
@import 'top_bar';
@import 'footer';

@import 'clir'; // clir specific customizations
@import 'dlf'; // dlf specific customizations

// TODO: no hover underline for logo-fonts

.clir-color {
    color: $clir-burgundy;
}

.clir-font {
    font-family: 'A028', serif;
    font-size: 24px;
    margin-left: 3px;
}

.dlf-font {
    font-family: 'Crimson Text', serif;
}

.dlf-color {
    color: $dlf-blue;
}

.ndsa-font {
    font-family: 'Open Sans', sans-serif;
}

.ndsa-color {
    color: $ndsa-blue;
}

.hidden-collections-color {
    color: $hc-blue;
}

.hidden-collections-font {
    font-family: 'A028', serif;
}

.logo {
    font-size: 22px;
    letter-spacing: 1px;
    margin-bottom: 0;

    a:hover {
        i {
            text-decoration: none;
            display: inline-block;
        }
    }
}

.alchem-home-section-0 .magee-section {
    height: $slider_height !important;
    min-height: $slider_height !important;
}
