@import 'https://fonts.googleapis.com/css?family=Source+Sans+Pro';

//Theme customizations
@import 'vars';
@import 'top_bar';
@import 'footer';
@import 'program_menus';
@import 'overrides';

@import 'clir'; // clir specific customizations
@import 'dlf'; // dlf specific customizations

body {
    font-family: 'Open Sans Pro', 'Open Sans', sans-serif;
}

p,li {
  line-height: 1.8em;
}

h2 {
  font-weight: 700;
  font-size: 28px;
  &.section-title, &.section-subtitle {
    text-align: center;
  }
}

.page-inner {
  padding-top: 0;
  padding: 0 0;
}

// Search override
.search-form {
  width: 500px;

  input[type='text'] {
    background: #fff;
    font-size: 18px;
    height: 100%;
  }

  button{
    border:0;
    margin-top: 10px;
  }
}

.scrollToTop {
  background: url("img/bottom-top-arrow.png") no-repeat scroll 13px 12px #ffffff;
  border: 3px solid #f0f1f3;
  border-radius: 5px;
  bottom: 20px;
  display: inline-block;
  height: 54px;
  opacity: 0;
  position: fixed;
  right: 20px;
  text-align: center;
  width: 54px;
  z-index: 100;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;

  &:hover {
    background-position: 13px -50px;
    text-decoration: none;
    outline: none;
    background-color: #c0c0c0;
  }
}

// TODO: no hover underline for logo-fonts

.clir-color {
    color: #fff;
}

.clir-font {
    font-family: 'A028', serif;
    font-size: 24px;
    margin-left: 3px;
}

.dlf-font {
    font-family: 'Crimson Text', serif;
    font-size: 24px;
    padding-top: 4px;
}

.menu-item {
  .dlf-font {
    margin-left: 15px;
  }
}


.dlf-color {
    color: $dlf-blue;
}

.ndsa-font {
    font-family: 'Open Sans', sans-serif;
}

.ndsa-color {
    color: $ndsa-blue;
}

.hidden-collections-color {
    color: $hc-blue;
}

.hidden-collections-font {
    font-family: 'A028', serif;
}

.logo {
    font-size: 22px;
    letter-spacing: 1px;
    margin-bottom: 0;

    a:hover {
        i {
            text-decoration: none;
            display: inline-block;
        }
    }
}

.magee-slider .carousel-inner .item {
  height: $slider_height !important;
  min-height: $slider_height !important;
}

.alchem-home-section-0 .magee-section {
    height: $slider_height !important;
    min-height: $slider_height !important;
}

.home #alchem-home-sections .alchem-home-section-1 {
    font-size: 21px;
    line-height: 30px;

    .container {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .container p {
        border-top: 1px solid #e5e5e5;
        border-bottom: 1px solid #e5e5e5;
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .row > div {
        float: none;
        margin: auto;
    }
}

.entry-share a {
    color: #2c818c;
}

.report-cover {
  // todo; fix for smaler devices
  min-height: 300px;
}
